
.menuNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid #5C7457;
    
}

.menuItems {
    display: flex;
    flex-direction: row;
    list-style: none;

}
.navItems{
    display: flex;
}
.navItems li {

    padding: 10px;
    margin-top: 30px;
    text-decoration: none;
    color: #C1BCAC; 
}
.navItems li:hover{
    color: #EFD0CA;
}
.logo {
    display: flex;
    justify-content: start;
    height: 100px;
    width: 100px;
}
.carrito {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
    align-items: center;
}

.carrito img {
    height: 30px;
    width: 30px;
}

.activePag {
font-weight: bold;
}

.sleepingPag {
font-weight: lighter;
}